*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

body{
    background:#e8f5e9;
}

.main-container{
    display:flex;
    height:100vh;
}

/* LEFT PANEL */
.left-panel{
    width:50%;
    position:relative;
}

.left-img{
    width:100%;
    height:100%;
    object-fit:cover;
    filter:brightness(70%);
}

.left-text{
    position:absolute;
    top:50%;
    left:50px;
    transform:translateY(-50%);
    color:white;
    max-width:350px;
}

.left-text h1{
    font-size:42px;
    margin-bottom:10px;
    font-weight:700;
}

.left-text p{
    font-size:18px;
    opacity:0.9;
}

/* RIGHT PANEL */
.right-panel{
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.form-box{
    width:80%;
    max-width:350px;
}

h2{
    text-align:center;
    margin-bottom:20px;
    font-size:28px;
    color:#2c7a3f;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:10px;
    border:1px solid #ccc;
}

.btn{
    width:100%;
    padding:12px;
    background:#2c7a3f;
    border:none;
    color:white;
    font-size:18px;
    border-radius:10px;
    cursor:pointer;
    margin-top:10px;
}

.switch-text{
    text-align:center;
    margin-top:10px;
    color:#333;
}

.switch-text span{
    color:#2c7a3f;
    font-weight:600;
    cursor:pointer;
}
